// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-toggle {
  display: inline;
}

.show-progress {
  width: 214px;
  margin-top: 20px;
  border-right: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.show-reviews {
  float: left;
}

.progress-bar-success {
  min-width: 12%;
}

.dl-horizontal.show-dl dt {
  text-align: left;
}

body .show-container {
  padding-left: 45px;
  padding-right: 45px;
}

.movie-category {
  background-color: rgb(55,55,55);
  height: 35px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
  /*vertical-align: middle;*/
}

.movie-category h4 {
  color: white;
  font-family: 'Source Sans Pro';
  padding-top: 8px;
  padding-left: 8px;
}

.review {
  margin-bottom: 15px;
}

.review p {
  margin-bottom: 0px;
}

.review p:nth-child(2) {
  display: inline;
  padding-left: 15px;
}

.review-form {
  margin-bottom: 15px;
}

.review-form textarea {
  width: 80%;
}